h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

h1 {
  filter: drop-shadow(0px 5px 0px #eafcc4);
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  aspect-ratio: 5.24;
}

a.img {
  width: 100%;
  display: block;
  text-decoration: none;
}


.spc {
  height: calc(70vh - 300px);
  display: block;
}

.spc-tiny {
  height: 45px;
  display: block;
}

body {
  padding: 15px;
}

html {
  background-color: #e3dfda;
}
